# haskell
dist-newstyle

# node / vscode extensions
node_modules/
out/

# claude code session data
.claude/

# outputs
lisp-interpreter
*.deb
.deb-staging/

# nix
result
result*

# direnv
.envrc
.direnv

.build
*.pre-commit-config.yaml
glados
*.vsix
